/**
 * Hawke AI Random Roller
 * Dark Mode Cascading Style Sheet Document
 * Version: 2.0
 * Last Updated: 2021-09-09
 */
@media (prefers-color-scheme: dark) {    
    body {
        background-color: black;
    }
    #rr_body, #rr_pw {
        background-color: #343a40;
        color: white;
    }
    .form-control, .form-control:focus {
        background-color: black;
        color: white;
    }
    .form-control:disabled {
        background-color: #343a40;
        color: #6c757d;
    }
    #rr_title.bg-dark, #rr_footer.bg-secondary {
        background-color: black!important;
    }
    .btn-dark {
        background-color: #6c757d;
    }
    .btn-dark:disabled {
        background-color: #343a40;
        border-color: #6c757d;
    }
    a:link, a:visited, a:active, span.rr-about{ color: #ffc107; }
    a:hover, span.rr-about:hover, i.rr-about:hover { color: #28a745; }
    .copy-badge { opacity: 0.9; }
    #copy_success.copy-badge { background-color: #23272b!important; }
}
